*{
    padding: 0;
    margin: 0;
}

.footer{
    height: auto;
    background-color: #011e29;
}

.first{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    background-color:#011e29;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first>img{
    width: 35%;
}

.subs{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.subs>p{
    color: #ffffff;
    font-family: sans-serif;
}

#sub2{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

#sub2>div{
    width: fit-content;
    padding: 10px 130px 10px 10px;
    background-color: white;
    color: black;
}

#sub2>div:first-child{
    padding: 10px 70px 10px 10px;
}

#sub2>div:last-child{
    border: 1px solid;
    padding: 10px 30px;
    background-color: #011e29;
    border-color: white;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.subs>div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subs>div>span{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

hr{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-color: #97a79b;
}

.section{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.section>div{
    width: 160px;
}

.section>div>p{
    margin-bottom: 15px;
    font-family:sans-serif;
    color: #97a79b;
    font-size: small;
    cursor: pointer;
}

.section>div>p:hover{
    color: #ffffff;
    text-decoration: underline;
}

.last{
    margin-top: 20px;
    background-color: #00131a;
    padding: 20px 0px;
}

.about{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

.pics{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 15px;
}

.pics>img{
    width: 70px;
}

h4{
    text-align: center;
    margin-top: 10px;
    color: #97a79b;
}

