#navbar {
    width: 100%;

    /* border: 1px solid black; */
    position: fixed;
    background-color: white;
    top: 0;

}









#topbar {
    width: 70%;
    margin: auto;

    height: 300px
        /* border: 1px solid red; */
        display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#topbar>h1 {}

#news {
    display: flex;
    justify-content: center;
    /* border: 1px solid teal; */
    margin-top: 150px;

}

#latest {
    text-align: center;
    /* display: flex; */
    width: 360px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#topnews {
    text-align: center;
    /* display: flex; */
    width: 350px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#latest_div {
    display: flex;
    /* border-bottom: 1px solid black; */
    /* border: 1px solid blue; */
    padding: 0 10px;
    margin-top: -10px;
    height: 150px;
    border-bottom: 1px solid;

}

#titlediv {
    margin-top: 25px;
    margin-right: 4px;
    width: 70%;
    height: 110px;
    /* border: 1px solid green; */
    border-radius: 12px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

#imgdiv>img {

    margin-top: 25px;
    width: 120px;
    height: 100px;
    border-radius: 6px;
}

#latest_div:hover {
    text-decoration: solid;
}

/* middle */

#middle {
    width: 35%;
    padding: 10px;
    /* border: 1px solid blue;/ */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 15px;
    /* margin-top: 800px; */
    height: fit-content;


}

#middle_div>h2:hover {
    font-size: 24px;
    /* text-decoration: underline; */

}

#middle_div>h2 {
    font-family: Lato-Bold, sans-serif;
    font-size: 23px;
    color: black;
}

#middle_div>h4:hover {
    font-weight: bold;
    color: #00B1CD;
    font-size: 105%;
}

#middle_div>h4 {
    color: black;
}

#middle>p {}

#middle_img {
    width: 99%;
    height: 400px;
}

#middle_div {
    margin: 5px;
    padding: 2px;
    /* border: 1px solid saddlebrown; */
    /* margin-top: 800px;/s */
}

/* top */