#epaper{
    width: 80%;
    border: 1px solid;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#topnews{
    width: 20%;
    border: 1px solid blue;
    height: 100px;
}
#mumbainews{
    width: 45%;
    border: 1px solid green;
    padding: 10px;
}
#mumbainews>div{
    
    gap: 10px;
    padding: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* display: flex; */
    justify-content: space-between;
    border-bottom: 1px solid;
}
#viralnews{
    width: 30%;
    border: 1px solid red;
    height: 100px;
}

#image{
 width: 100%;
 height: 30%;
 
}