#topbar {
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#topbar>h1 {}

#news {
    display: flex;
    justify-content: center;

}

#india {
    text-align: center;
    /* display: flex; */
    width: 360px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#topnews {
    text-align: center;
    /* display: flex; */
    width: 350px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#titlediv>p:hover {
    font-size: 16.6px;

    text-decoration: underline;
    cursor: pointer;
    /* color: antiquewhite; */
    /* border: 1px solid maroon; */
}

#latest_div {

    display: flex;
    /* border-bottom: 1px solid black; */
    /* border: 1px solid blue; */
    padding: 0 10px;
    margin-top: -10px;
    height: 150px;
    border-bottom: 1px solid;

}

#titlediv {
    margin-top: 25px;
    margin-right: 4px;
    width: 70%;
    height: 110px;
    /* border: 1px solid green; */
    border-radius: 12px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

#imgdiv>img:hover {
    width: 125px;
    height: 110px;
}

#imgdiv>img {

    margin-top: 25px;
    width: 120px;
    height: 100px;
    border-radius: 6px;
}

#latest_div:hover {
    text-decoration: solid;
}

/* middle */

#middle {
    margin: 0px 18px;
    width: 35%;
    padding: 10px;
    /* border: 1px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 15px;
}

#middle>h2:hover {
    font-size: 24px;
    /* text-decoration: underline; */

}

#middle>h2 {
    font-family: Lato-Bold, sans-serif;
    font-size: 23px;
}

#middle_div>h4:hover {
    font-weight: bold;
    color: #00B1CD;
    font-size: 105%;
}

#middle>h4 {
    color: grey
}

#middle>p {}

#middle_img {
    width: 99%;
    height: 400px;
}

#middle_div {
    margin: 5px;
    padding: 2px;
    border: 1px solid saddlebrown;
}

/* top */